<h1>User list</h1>
<ul>
  <%@user.each do |u|%>
    <li><%= u.id%>: <%= u.name%> <strong><%=u.username %></strong></li>
  <%end%>
</ul>

<div>
  <%= link_to 'create a new user', new_user_path%>
</div>


<h2>
  Post list:
</h2>
<ul>
  <% @posts.each do |post|%>
    <li>
      <%=link_to post.title, post_path(post)%>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to 'create a new post', new_post_path%>
</div>