<h1>
  <%=@post.title%>
</h1>

<p>
  <%=@post.content%>
</p>

<p>
  By <%=@user.find(@post.user_id).username%>
</p>


<section>
  <h2>
    Create a comment
  </h2>
  <%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>

  <p>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
</section>

<section>
  <h2>
    Comments
  </h2>
  <ul>
    <%@post.comments.each do |comment|%>
    <% if comment!=nil %>
    <div>
        <%=comment.content%><strong><%=comment.author%></strong>
    </div>
    <% end %>
    <% end%>
  </ul>
</section>
